@model Shopy.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.Caption == "Facebook")
                        {
                            <button type="submit" style="border-radius: 50%;height: 4em;
                                      width: 4em;" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-facebook-square text-primary" style="font-size: 36px;"></i>
                            </button>
                        }
                        if (p.Caption == "Microsoft")
                        {
                            <button type="submit" style="border-radius: 50%;height: 4em;
                                                                                                                                                                                     width: 4em;" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-windows text-warning" style="font-size:36px"></i>
                            </button>
                        }
                        if (p.Caption == "Google")
                        {
                            <button type="submit" style="border-radius: 50%;height: 4em;
                                                                                                                                                                                                                                                                                                                          width: 4em;" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-google text-danger" style="font-size:36px"></i>
                            </button>
                        }

                        if (p.Caption == "Twitter")
                        {
                            <button type="submit" style="border-radius: 50%;height: 4em;
                                                                                                                                                                                                                                                                                                                                                                                                                                                             width: 4em;" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-twitter" style="font-size: 36px; color: #1DA1F2;"></i>
                            </button>
                        }

                    }
                </p>
            </div>
        }
    }
}
