@using ShopyEcomerce
@model IEnumerable<ShopyEcomerce.ef.Product>

@{
    ViewBag.Title = "AllProduct";

    var option = new List<SelectListItem>
{
        new SelectListItem {Text = "All", Value = ""},
        new SelectListItem {Text = "Mobile", Value = "0"},
        new SelectListItem {Text = "Tablet", Value = "1"},
        new SelectListItem {Text = "Laptop", Value = "2"},
        new SelectListItem {Text = "Headset", Value = "3"},
        new SelectListItem {Text = "Appliances", Value = "4"},
    };

}





@using (Html.BeginForm())
{<div class="d-flex justify-content-center mt-5 ">
    <div class="form-group ">
        @Html.TextBox("productname", "", new { @class = "form-control-lg  ", placeholder = "Search", arialabel = "Search" })
    </div>
    <div class="ml-2">
        @Html.DropDownList("category", option, new { @class = "form-control-lg  " })

    </div>
     <div><button class="btn  btn-lg text-white btn-light bg-secondary my-2 my-sm-0 ml-3" ><i class="fa fa-search"></i></button></div>

</div>
 
    

}


<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="data:image/png;base64,@Convert.ToBase64String(@item.Photos, 0, @item.Photos.Length)" alt="@item.Description" class="card-img-top" />
               
                <div class="card-footer  position-absolute fixed-bottom mylinks">
                    <a href="@Url.Action("Details","Products",new {id=item.Id})" class="text-black-50  text-decoration-none">
                        <span class="card-title">
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </span>
                        <span class="card-text"><span>@Html.DisplayNameFor(model => model.Price)</span> @Html.DisplayFor(modelItem => item.Price)</span>
                    </a>
                </div>
            </div>
        </div>

    }
</div>

